body, html {
  height: 100%;
  margin: 0;
}

#logos-nav {
  //background-color: #fda172; /*whichever you want*/
  background-image: linear-gradient(to right, #be5504, #ed820e, #fda172);
  //opacity: 0.5;
  //filter:(opacity=50);
}

.black-text {
  color: black;
  font-family: Serif;
  font-weight: bold;
  font-size: larger;
}

.menu-button {
  font-size: xx-small;
  background-color: green;
}

.span-menu:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

.span-menu {
  font-weight: bolder;
}

@media only screen and (min-width: 992px) {
  li {
    margin: auto 3em;
  }
}
