<div class="container d-none d-lg-block">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <a class="navbar-brand" href="#"><img style="height: 40px" src="assets/images/logo-transparent.png">
        <span class="black-text">LOGOS GLOBAL MISSIONS TORONTO</span>
      </a>
    </div>
  </div>
</div>

<nav class="navbar sticky-top navbar-expand-lg navbar-light" id="logos-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand d-lg-none" href="#"><img style="height: 40px" src="assets/images/logo-transparent.png"><span class="white-text">LGM Toronto</span></a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="span-menu">Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="span-menu">Connect Groups</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="span-menu">Sunday Livestream</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="span-menu">Prayer</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="span-menu">Giving</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="span-menu">Videos</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="span-menu">Others</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">About Us</a>
            <a class="dropdown-item" href="#">Church Ministry</a>
            <a class="dropdown-item" href="#">Locations</a>
            <a class="dropdown-item" href="#">Announcements</a>
            <a class="dropdown-item" href="#">Contact Us</a>
          </div>
        </li>



      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
